<% if user_signed_in? %>
<div class="row center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
</div>
<% else %>
  <div class="row center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    <a href="/users/new" class="btn-large waves-effect waves-light orange">Create an Account</a>
  </div>
<% end %>
